/* =========================
   RESET + VARIABLES
========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* couleurs */
  --primary: #d9d9d9;
  --secondary: #ffffff;
  --tertiary: #2b2a29;

  /* texte */
  --text-dark: #2b2a29;
  --text-light: #ffffff;

  /* UI */
  --radius: 30px;
  --shadow: 0 3px 8px rgba(0, 0, 0, 0.25);

  /* font */
  --font: "Roboto", sans-serif;
}

/* =========================
   BASE
========================= */
body {
  font-family: var(--font);
  color: var(--secondary);
  background: var(--tertiary);
}

/* =========================
   HEADER
========================= */
.header {
  position: sticky;
  top: 0;
  height: auto;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 20px;
  background: var(--secondary);
}

/* =========================
   NAV
========================= */
.nav {
  display: none; /* caché par défaut */
  flex-direction: column;
  position: absolute;
  top: 100%;
  gap: 10px;
  padding: 20px;
}
.nav.open {
  display: flex;
}

.nav a {
  text-decoration: none;
  font-weight: 700;
  width: auto;
  padding: 0.7rem 0.7rem;
  text-align: center;
  color: var(--tertiary);
  background-color: #d9d9d9;
  border-radius: 20px;
}
.nav a:hover {
  background-color: #bfbfbf;
  color: var(--text-light);
}

/* =========================
   BURGER
========================= */
.burger {
  display: flex;
  flex-direction: column;
  gap: 6px;

  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 24px;
  height: 3px;
  /* background: var(--dark); */
  background: var(--tertiary);
  border-radius: 3px;
}

/* =========================
   SECTIONS
========================= */
.section {
  min-height: 100vh;
  padding: 100px 20px;
}

/* HERO */
.section.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero-title {
  visibility: hidden;
}
.hero-title h1 {
  align-self: center;
  font-size: clamp(3rem, 10vw, 8rem);
  font-weight: 900;
  background: var(--tertiary);
}

.hero p {
  font-size: 1.2rem;
  margin-top: 1rem;
  /* margin-left: 60; */
  text-align: center;
  background: var(--tertiary);
  visibility: hidden;
}
.scroll-indicator {
  margin-top: 40px;
  font-size: 0.75rem;
  letter-spacing: 0.2em;
  opacity: 0.5;
  animation: scrollPulse 1.8s ease-in-out infinite;
}

/* ABOUT */
.about-intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.about-text h2,
h4 {
  text-align: center;
  padding-bottom: 1rem;
}
.about-grid {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: auto;
}

.about-grid h3 {
  padding-bottom: 1rem;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  letter-spacing: 0.02em;
}
.about-parcours,
.about-competences,
.about-vision {
  padding: 1rem;
  border-radius: 20px;
  margin: 0 1rem;
}
.about-parcours {
  background: var(--primary);
  color: #525151;
}
.about-competences {
  background: #c4c3c3;
}
.about-vision {
  background: #525151;
}

.about-vision a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}
.about-vision a :hover {
  text-decoration: none;
  color: var(--tertiary);
}
.about-competences ul {
  padding-left: 2rem;
}

@media (max-width: 1023px) {
  .about-intro,
  .about-grid > div {
    opacity: 0;
    transform: translateY(30px);
  }
}
@media (max-width: 1023px) {
  .section.about::before {
    background: radial-gradient(
      circle at 50% 20%,
      rgba(255, 255, 255, 0.035),
      transparent 60%
    );
    opacity: 0.6;
  }
}

/* projects */

@media (max-width: 1023px) {
  .section.projects {
    background: #242424;
  }
}

/* =========================
   FOOTER
========================= */
.footer {
  padding: 20px;
  text-align: center;
  background: var(--primary);
}

/* =========================
   DESKTOP
========================= */
@media (min-width: 768px) {
  .nav {
    position: static;
    display: flex;
    flex-direction: row;
    background: none;
    padding: 0;
  }

  .burger {
    display: none;
  }
}

/* HERO */
@media (min-width: 1024px) {
  .hero {
    align-items: flex-end;
    text-align: left;
  }
  .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle at 30% 40%,
      rgba(255, 255, 255, 0.05),
      transparent 60%
    );
    pointer-events: none;
  }

  .hero-title {
    display: inline-block;
    visibility: hidden;
  }

  .hero h1 {
    font-size: 15rem;
    min-height: 1em;
    line-height: 1.2;
    letter-spacing: -0.02;
    color: #f4f4f4;

    padding-bottom: 0.15em;
  }
  .hero p {
    will-change: transform, opacity;
    margin-right: 25rem;
    color: #f4f4f4;
  }
}

.hero-title span {
  display: inline-block;
}
.scroll-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;

  animation: dotScroll 2.2s ease-in-out infinite;
  animation-play-state: paused;
}

@keyframes dotScroll {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  70% {
    transform: translateY(40px);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  @keyframes dotScroll {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    70% {
      transform: translateY(60px);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 0;
    }
  }
}

/* ABOUT */
@media (min-width: 1024px) {
  .section.about {
    background: #242424;
    position: relative;
  }

  .section.about::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at top,
        rgba(255, 255, 255, 0.04),
        transparent 60%
      ),
      url("/assets/images/noise.png");
    opacity: 0.5;
    pointer-events: none;
  }

  .about-intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    margin: 3rem 0;
  }

  .about-text {
    max-width: 900px;
  }
  .about-text h2,
  h4 {
    text-align: left;
    margin-left: 7rem;
  }
  .about-text h2 {
    font-size: 3rem;
  }
  .about-text h4 {
    font-size: 1.5rem;
    margin-left: 10rem;
  }

  /* GRID */
  .about-grid {
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 1rem;
    margin: 0 2rem;
    padding-left: 4rem;
  }
  .about-grid h3 {
    padding-bottom: 1rem;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .about-grid p,
  li {
    line-height: 1.5;
  }
  .about-vision a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(247, 246, 246);
  }
  .about-vision a:hover {
    text-decoration: none;
    color: var(--tertiary);
  }
  .about-competences ul {
    padding-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .about-intro,
  .about-grid > div {
    opacity: 0;
    transform: translateY(40px);
  }
}

/* projects */
.section.projects {
  background: linear-gradient(180deg, #1f1f1f 0%, #242424 100%);
}
